<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846211571979-8nq7ogvnpd15va3o0jcv9sfulsc2v54c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846211571979-8nq7ogvnpd15va3o0jcv9sfulsc2v54c</string>
	<key>API_KEY</key>
	<string>AIzaSyDM9D5_RQJO53VAedPlrkhMa6bs1_wkLAI</string>
	<key>GCM_SENDER_ID</key>
	<string>846211571979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cs310insta</string>
	<key>PROJECT_ID</key>
	<string>cs310insta-5b3c1</string>
	<key>STORAGE_BUCKET</key>
	<string>cs310insta-5b3c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846211571979:ios:c155e9dc659e5c802e420e</string>
</dict>
</plist>
